html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Overpass, sans-serif;
  line-height: 1.5;
  background-color: #ff9500;
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  margin: 1rem;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6vmin;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

ul p {
  text-align: left;
  margin: 0  0 1rem;
  font-size: 1.125rem;
}

h3 a {
  border: 2px solid #fff;
  margin: 1rem 0;
  padding: 1rem;
}

a {
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: normal;
}

svg {
  width: 8rem;
  height: 8rem;
  fill: #fff;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 38em) {

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
  }

  h3 a {
    display: flex;
    padding: .5rem;
  }

  h3 a:hover {
    color: #ff5e3a;
  }

}
